
<html>

<head>
    <title>Customer Create</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<form method="post">
    <div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="Name" class="col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" id="Name" name="Name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="Address" class="col-md-2">Address</label>
            <div class="col-md-10">
                <input type="text" id="Address" name="Address" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="LoyaltyPoint" class="col-md-2">LoyaltyPoint</label>
            <div class="col-md-10">
                <input type="text" id="LoyaltyPoint" name="LoyaltyPoint" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>