@model List<Ecommerce.Models.Customer>



<div class="container">
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    
    <h1>Customer List</h1>

    <div class="row ">
        <a href="/customer/create" class="btn btn-primary">Create Customer</a>
    </div>
    <partial name="~/Views/Shared/Customer/_CustomerList.cshtml" model="Model"/>

</div>
